{{ with $.Site.Params.homeInfoParams }}
<article class="first-entry">
    <header class="entry-header">
        <h2>{{ .Title }}</h2>
    </header>
    <section class="entry-content">
        <audio id="player" src="/name-prounounciation.ogg"></audio>
        <p style="margin-bottom: 6px;">
          I'm <b>Hrvoje Matić</b> (<a href="#" onclick="document.getElementById('player').play()">how to pronounce</a>).
        </p>
        <ul>
          <li>Backend & Devops Engineer at Productive.io</li>
          <li>AWS Solutions Architect</li>
          <li>interested in all aspects of digital business</li>
          <li>football, chess, investing</li>
        </ul>
        <p style="margin-top:10px">Find me online:</p>
    </section>
    <footer class="entry-footer">
        {{- with $.Site.Params.socialIcons }}
        <div class="social-icons">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </footer>
</article>
{{end}}