/* Post entry
-------------------------------------------------- */
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin-bottom: calc( var(--gap) * 2);
    margin-top: var(--gap);
}

@media screen and (max-width: 600px) {
    .first-entry {
        min-height: 260px;
    }
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.first-entry .entry-header h2 {
    font-size: 34px;
}

.first-entry .entry-content {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 16px;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
}

.post-entry .entry-content {
  -webkit-line-clamp: 3;
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-content,
.tag-entry .entry-footer {
    display: none;
}

.entry-header h2 {
    padding-top: 18px;
    font-size: 24px;
}

.entry-content {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-isdraft {
    display: inline;
    color: var(--secondary);
    font-size: 14px;
}

.entry-cover img {
    border-radius: var(--radius);
    margin-bottom: var(--gap);
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons a {
    margin: 2px;
    padding: 6px;
    font-size: 1.4em;
}

.social-icons a:hover {
  color: #FF8C00;
}

.post-list-img {
  height: 250px;
}